
<div class="background-header">
    <img style="height: auto; width:10%;" src="logo.png" > 
    <a href="/login" style="margin: 2%; float: right;" > Log In</a>
    <div class="welcome-title">
        <p>Welcome to your 
            one stop platform
            for your beauty needs</p>
        <button mat-raised-button (click)="login()">Login</button>
    </div>    
    <div class="container-service">
        <p style="width: 20%; margin-left: 50%;"> Services </p>
        <!-- <img style="height: auto; width:30%;" src="logo.png" > 
        <img style="height: auto; width:30%;" src="logo.png" > 
        <img style="height: auto; width:30%;" src="logo.png" >  -->
        
    </div>
    

</div>


